.container-fluid {
  font-family: 'Indie Flower', cursive;
  /*FOOTER*/ }
  .container-fluid header nav {
    background-color: #BB371A; }
  .container-fluid main {
    background-color: #FFCE45; }
    .container-fluid main .titulo h1 {
      font-weight: 700; }
    .container-fluid main .titulo h2 {
      font-weight: 700; }
    .container-fluid main div div .card-color {
      background-color: #FFF8D9; }
    .container-fluid main div div h2 {
      font-weight: 500; }
    .container-fluid main div div h3 {
      font-weight: 500; }
    .container-fluid main div div h4 {
      font-weight: 500; }
    .container-fluid main div div .boton {
      background-color: #BB371A !important; }
  .container-fluid footer {
    background-color: #BB371A; }
    .container-fluid footer .logos div {
      width: auto;
      height: 50px;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: none;
      gap: 10px; }
    .container-fluid footer h5 {
      font-weight: 700; }
    .container-fluid footer .fa-brands {
      padding: 5px;
      font-size: 20px;
      width: 30px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%; }
    .container-fluid footer .fa-facebook-f {
      background: white;
      color: black; }
    .container-fluid footer .fa-instagram {
      background: white;
      color: black; }
    .container-fluid footer .fa-whatsapp {
      background: white;
      color: black; }
    .container-fluid footer .fa-tiktok {
      background: white;
      color: #0f0e0e; }
    .container-fluid footer .fa-snapchat {
      background: white;
      color: black; }
    .container-fluid footer .list-unstyled p {
      margin-bottom: 1px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
