@import "utilities/variables";

.container-fluid {
    
    font-family: 'Indie Flower', cursive;
    
    header{
        nav{
            background-color: $color-naranja;
        }
    }

    main{
        background-color: $color-rosaFuerte;
        
        .titulo{
            div{
                background-color: $color-clarito;
                padding: 10px;
                h1{
                    text-shadow: $text-shadow;
                    font-size: 3.5rem;
                    font-weight: 700;
                    color: $color-marron;
                }
            }
            h2{
                margin-top: 25px;
                text-shadow: $text-shadow;
                font-size: 2rem;
                font-weight: 700;
                color: $color-marron;
            }
            p{
                color: $color-marron;
                font-size: 18px;
                text-shadow: $text-shadow-p;
            }
        }
        div{
            div{
                
                .card-color{
                    background-color: $color-clarito;
                }
                h2{
                    font-weight: 500;
                }
                h3{
                    font-weight: 500;
                }
                h4{
                    font-weight: 500;
                }
                .boton{
                    background-color: $color-naranja !important;
                }
            }
        }
    }

    /*FOOTER*/
    footer{
        background-color: $color-naranja;
        .logos div{
            width: auto;
            height: 50px;
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: none;
            gap: 10px;
            
            
        
        }
    
        h5{
            font-weight: 700;
        }
    
        .fa-brands{
            padding: 5px;
            font-size: 20px;
            width: 30px;
            text-align: center ;
            text-decoration: none;
            border-radius: 50%;
            
        }
    
        .fa-facebook-f {
            background: white;
            color: black;
        }
    
        .fa-instagram {
            background: white;
            color: black;
        }
    
        .fa-whatsapp {
            background: white;
            color: black;
        }
    
        .fa-tiktok {
            background: white;
            color: rgb(15, 14, 14);
        }
    
        .fa-snapchat {
            background:white;
            color: black;
            
        }
    
    
        .list-unstyled p{
            margin-bottom: 1px;
        }
    }
    
}
@import "layout/grids.scss" ;
