//colores
$color-marron: #CE9461;
$color-rosa: #FFE6E6;
$color-celeste: #DAEAF1;
$color-clarito: #FCFFE7;
$color-rosaFuerte: #FFE3A9;
$color-naranja: #DEA057;

//sombras 
$text-shadow: 0 2px 3px rgba(0, 0, 0, 0.60);
$text-shadow-p: 0 1px 1.5px rgba(0, 0, 0, 0.60);
