//colores
$color-gold: #FFCE45;
$color-rojizo: #BB371A;
$color-ivory: #FFF8D9;
$color-grey: #D5DBB3;

//sombras 
$text-shadow: 0 2px 3px rgba(0, 0, 0, 0.60);
$text-shadow-p: 0 2px 3px rgba(0, 0, 0, 0.60);
